<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>人生如歌，代码如诗，而你就像远方的风景，可望而不可及。</title>
<meta name="keywords" content="人生如歌，代码如诗，而你就像远方的风景，可望而不可及。" />
<meta name="description" content="人生如歌，代码如诗，而你就像远方的风景，可望而不可及。" />
<link href="../css/base.css" rel="stylesheet">
<link href="../css/about.css" rel="stylesheet">
<link href="../css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>代码人生</h1>
    <h2>人生如歌，代码如诗，而你就像远方的风景，可望而不可及。.</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="../template/index.html">首页</a><a href="../template/new.html">苟且</a><a href="../template/newlist.html">远方和诗</a><a href="../template/cat_list.html">分类列表</a></nav>
  </header>
  <article>
    <h3 class="about_h">您现在的位置是：<a href="index.php">首页</a>><a href="1/">关于我</a></h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
        <p>人生除了苟且，还有远方和诗</p>
        <p>一行 flyphp@163.com</p>
        <p>若恒之，何必一曝十寒</p>
      </ul>
      <h2>About my blog</h2>
      <ul class="blog_a">
        <p>人生除了苟且，还有远方和诗</p>
        <p>一行 flyphp@163.com</p>
        <p>若恒之，何必一曝十寒</p>
      </ul>
    </div>
  </article>
  <aside>
    <div class="avatar"><a href="about.html"><span>关于杨青</span></a></div>
    <div class="topspaceinfo">
      <h1>执子之手，与子偕老</h1>
      <p>于千万人之中，我遇见了我所遇见的人....</p>
    </div>
    <div class="about_c">
      <p>网名：逗逗	</p>
      <p>职业：哈佛心法 </p>
      <p>籍贯：哈尔滨佛教学院</p>
      <p>电话：110转400-800-8828</p>
      <p>邮箱：2878547194@qq.com</p>
    
  </aside>
  <script src="../js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
